$success: #219ebcff;
$dark: #023047ff;
$warning: #ffb703ff;
$danger: rgb(251, 79, 0);
$primary: #8ecae6ff;

@import "bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
}

#top-section,
.card {
  max-width: 600px;
  margin: 0 auto;
}

.hover-highlight:hover {
  background-color: transparentize($primary, 0.25);
}

.dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
  background-color: $light;
  border: 1px solid $dark;
}

li {
  flex-wrap: nowrap;
  margin-left: auto;
}

.weather-img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  margin: 1rem auto;
}

.alert {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  text-transform: capitalize;
  animation: 2s ease-in-out slideIn;
}

@keyframes slideIn {
  0% {
    transform: translatex(150%);
  }

  10% {
    transform: translatex(0%);
  }

  90% {
    transform: translatex(0%);
  }

  100% {
    transform: translatex(150%);
  }
}
